<h2>Questions</h2>
<% @user.questions.each do |question| %>
 <%= question.question %>
 	<% if current_user?(@user) %>
	  |  <%= link_to 'Delete', [question.user, question], method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
	<br>
<% end %>