<% if logged_in? %>
	<h1> All Questions </h1>
	<% @users.each do |user| %>
		<% if @feed_items.any? %>
			<ul>
				<% @feed_items.each do |feeds| %>
					<% if feeds.user_id == user.id %>
						<li>
							<%= user.name %> &nbsp &nbsp
							<%= link_to feeds.question, user_question_answers_path(feeds.user_id, feeds.id) %> &nbsp &nbsp &nbsp &nbsp
							<%= link_to 'Answer', new_user_question_answer_path(feeds.user_id, feeds.id) %>
						</li>
					<% end %>
				<% end %>
			</ul>
		<% end %>
	<% end %>
<% else %>
	<h1> StackOverflow</h1>
<% end %>